
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Typography Styles */
.header-text {
  @apply text-sm font-bold text-gray-900;;
}

.input-text {
  @apply text-sm font-normal text-gray-900;;
}

.description-text {
  @apply text-xs font-normal text-gray-900;
}

/* Universal hide scrollbar in all browsers */
.character-sheet-area::-webkit-scrollbar {
  display: none;
}

.character-sheet-area {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.screen-hidden {
  display: none !important;
}

@media print {
  /* Hide interactive UI */
  .print-only-character-sheet {
    display: always !important;
    visibility: hidden !important;
  }

  /* Show the print clone */
  .print-clone {
    display: flex !important;
    flex-wrap: wrap !important;
    visibility: visible !important;
    justify-content: flex-start;
    padding: 0 !important;
    margin: 0 !important;
  }

  .print-clone .character-sheet-print {
    width: 48% !important;
    margin: 1% !important;
    page-break-inside: avoid;
    break-inside: avoid;
    box-sizing: border-box;
    background: white !important;
    color: black !important;
  }

  @page {
    size: A4 landscape;
    margin: 10mm;
  }
}
