
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Typography Styles */
.header-text {
  @apply text-sm font-bold text-gray-900;;
}

.input-text {
  @apply text-sm font-normal text-gray-900;;
}

.description-text {
  @apply text-xs font-normal text-gray-900;
}

/* Universal hide scrollbar in all browsers */
.character-sheet-area::-webkit-scrollbar {
  display: none;
}

.character-sheet-area {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@media print {
.character-sheet-print {
  height: 913px;
  max-height: 913px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  border: none;
  background: none;
}

  .print-only-character-sheet * {
    visibility: hidden;
  }

  .character-sheet-area,
  .character-sheet-area * {
    visibility: visible;
  }

  .character-sheet-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }

  .team-overview-print {
    height: auto; /* let the team overview grow naturally */
    page-break-after: always;
  }

  @page {
  size: A4 landscape;
}

}
