
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Typography Styles */
.header-text {
  @apply text-sm font-bold text-gray-900;;
}

.input-text {
  @apply text-sm font-normal text-gray-900;;
}

.description-text {
  @apply text-xs font-normal text-gray-900;
}

/* Universal hide scrollbar in all browsers */
.character-sheet-area::-webkit-scrollbar {
  display: none;
}

.character-sheet-area {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
    overflow-x: auto;
  overflow-y: hidden;
}

.screen-hidden {
  display: none !important;
}

/* Group of two characters per printed page */
.character-pair {
  justify-content: left;
  gap: 2rem;
}

@media print {

    .character-sheet-area, 
      .left-column {
          display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
  }
  
  /* Hide interactive UI */
  .print-only-character-sheet {
    display: always !important;
    visibility: hidden !important;
    
  }

  .left-column {
        display: none !important;
    visibility: hidden !important;
        height: 0 !important;
    width: 0 !important;
  }


  /* Show the print clone */
.print-clone {
  display: block !important;
  visibility: visible !important;
  margin: 0 auto !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.print-page {
    page-break-after: always;
}

.character-pair {
  display: flex;
  margin: 0 auto;
  page-break-after: auto;
  border: 1px solid blue;
}

.character-sheet-print {
  zoom: 0.8;
  box-sizing: border-box;
  overflow: hidden;
  page-break-inside: always;
  margin-bottom: 1rem;
    border: 2px dashed red;
}

.brute-force-page-break {
  display: block;
  width: 100%;
  height: 1px;
  visibility: hidden;
  page-break-before: always;
  break-before: page;
}

}

